# 一、“单值”——标量类型

## 1.标量类型

### 1.1  整数类型int

In [1]:
type(a)

NameError: name 'a' is not defined

In [2]:
1

1

In [3]:
type(1)

int

### 1.2  浮点数值float

In [4]:
a = 1

In [5]:
b = 1.25

In [6]:
type(b)

float

In [7]:
1.25

1.25

In [8]:
type(1.25)

float

### 1.3  字符串类型str

In [9]:
c = 2

In [10]:
type(c)

int

In [11]:
c = "2"

In [11]:
type(c)

int

In [12]:
d = python

NameError: name 'python' is not defined

In [13]:
d = "python"

In [14]:
type(d)

str

In [15]:
'python'

'python'

In [16]:
type('python')

str

### 1.4  布尔值类型bool

In [17]:
a == b

False

In [18]:
a > 0

True

In [19]:
type(a > 0)

bool

### 1.5 空值NoneType

In [20]:
e = None

In [21]:
type(e)

NoneType

## 2.标量之间的互相转换

In [22]:
a = 2

In [23]:
type(a)

int

In [24]:
b = str(a)

In [25]:
b

'2'

In [26]:
type(b)

str

In [27]:
c = int(b)

In [28]:
c

2

In [29]:
type(c)

int

In [30]:
2.5

2.5

In [31]:
type(2.5)

float

In [32]:
int(2.5)

2

## 3.标量的运算

In [33]:
a = 3
b = 2

In [34]:
a + b

5

In [35]:
a / b

1.5

In [36]:
a // 2

1

In [37]:
a = "3"
b = "2"

In [38]:
a + b

'32'

## 小结：
1.标量类型：int/float/str/bool/NoneType

2.标量之间的互相转换

3.标量的运算

# 二、数据结构

## 1.常见数据结构

### 1.1  元组,tuple()

In [39]:
a = (1, "2", 3)

In [40]:
type(a)

tuple

In [41]:
a[1]

'2'

In [42]:
type(a[1])

str

In [43]:
b =((1, 2, 3),(4, 5))

### 1.2  列表,list[]

In [44]:
c = [1, 2 ,3]

In [45]:
type(c)

list

In [46]:
d = [(1,2,3),"python", 4, None]

In [47]:
d[0]

(1, 2, 3)

In [48]:
type(d[0])

tuple

In [49]:
type(d[2])

int

In [50]:
type(d[3])

NoneType

### 1.3  字典,dict{}, keys-values, 键值对

In [51]:
d = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [52]:
type(d)

dict

In [53]:
d.keys()

dict_keys(['a', 'b'])

In [54]:
d.values()

dict_values(['some value', [1, 2, 3, 4]])

In [55]:
e = [1, 2, 3, "python", (4, 5)]

In [56]:
f = [6, 7, 8 ,9, 10, 11]

In [57]:
g = dict(zip(e,f))
g

{1: 6, 2: 7, 3: 8, 'python': 9, (4, 5): 10}

In [58]:
h = list(zip(e,f))
h

[(1, 6), (2, 7), (3, 8), ('python', 9), ((4, 5), 10)]

In [59]:
zip(e,f)

### 1.4  集合,set{}

In [60]:
a = {1, 2, 3}

In [61]:
type(a)

set

In [62]:
b = {1, 2, 2, 3, 3,}

In [63]:
b

{1, 2, 3}

In [64]:
a == b

True

## 2.数据结构之间的互相转换

In [65]:
a = (1, 2, 3)

In [66]:
b = list(a)

In [67]:
b

[1, 2, 3]

In [68]:
c = tuple(b)

In [69]:
c

(1, 2, 3)

In [70]:
a == c

True

In [71]:
c = ((1, 2), (3, 4), (5, 6))

In [72]:
d = list(c)

In [73]:
d

[(1, 2), (3, 4), (5, 6)]

In [74]:
e = dict(c)

In [75]:
e

{1: 2, 3: 4, 5: 6}

In [76]:
f = dict(d)

In [77]:
f

{1: 2, 3: 4, 5: 6}

In [78]:
d = list(f)

In [79]:
d

[1, 3, 5]

In [80]:
e = tuple(f)

In [81]:
e

(1, 3, 5)

In [82]:
d_ = list(f.values())

In [83]:
d_

[2, 4, 6]

## 小结：
一、单值——标量类型

1.标量类型：int/float/str/bool/None

2.标量之间的互相转换

3.标量的运算   

二、数据结构

1.常见数据结构：tuple/list/dict/set

2.数据结构之间的互相转换

# 三、列表

## 1.列表list的运算

In [84]:
a = [1, 2 ,3]
b = [4, 5, 6]

In [85]:
a + b

[1, 2, 3, 4, 5, 6]

In [86]:
a = (1, 2 ,3)
b = (4, 5, 6)

In [87]:
a + b

(1, 2, 3, 4, 5, 6)

## 2.列表list的索引

In [88]:
a = [1, 2, 3, 4, (5, 6)]

In [89]:
a[0]

1

In [90]:
a[0] = "python"

In [91]:
a

['python', 2, 3, 4, (5, 6)]

In [92]:
a.append((7,8))

In [93]:
a

['python', 2, 3, 4, (5, 6), (7, 8)]

In [94]:
a[4]

(5, 6)

In [95]:
a[4] = 5.5

In [96]:
a

['python', 2, 3, 4, 5.5, (7, 8)]

In [97]:
a[-1]

(7, 8)

In [98]:
a[-1].append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [99]:
b = ([1, 2, 3], 4, 5)

In [100]:
b.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [101]:
b[0]

[1, 2, 3]

In [102]:
b[0].append(6)

In [103]:
b

([1, 2, 3, 6], 4, 5)

## 3.列表list的方法及常用函数（删除，合并）

In [104]:
a = [2, 1, 3, 4, 5]

In [105]:
a.pop(4)

5

In [106]:
a

[2, 1, 3, 4]

In [107]:
a.append(6)

In [108]:
a

[2, 1, 3, 4, 6]

In [109]:
a.insert(4,5)

In [110]:
a

[2, 1, 3, 4, 5, 6]

In [111]:
sorted(a)

[1, 2, 3, 4, 5, 6]

In [112]:
b = sorted(a)

In [113]:
b

[1, 2, 3, 4, 5, 6]

In [114]:
a

[2, 1, 3, 4, 5, 6]

In [115]:
c = list(reversed(a))

In [116]:
c

[6, 5, 4, 3, 1, 2]

# 四、函数

## 1.内置函数

In [117]:
a = [2, 1, 3, 4]
b = [5, 6, 7, 8]

In [118]:
sorted(a)

[1, 2, 3, 4]

In [119]:
reversed(a)

In [120]:
zip(a,b)

In [121]:
list(zip(a,b))

[(2, 5), (1, 6), (3, 7), (4, 8)]

## 2.自定义函数def

In [122]:
def quadratic_sum(x, y):
    return x**2 + y**2

In [123]:
quadratic_sum(2, 3)

13

In [124]:
quadratic_sum(5, 6)

61

## 3.lambda函数

In [125]:
quadratic_sum_ = lambda x, y: x**2 + y**2

In [126]:
quadratic_sum_(4, 5)

41

In [127]:
quadratic_sum_(3, 4)

25

# 五、控制流

## 1.for循环

In [133]:
list_ = [2, 1, 3, 5, 4, 6]

In [134]:
total = 0
for i in list_:
    if i < 5:
        total = total + i  #total += i

In [135]:
total

10

In [136]:
total = 0
for i in list_:
    if i == 5:
        break
    total = total + i

In [137]:
total

6

In [138]:
total = 0
for i in list_:
    if i == 5:
        continue        
    total += i

In [139]:
total

16

In [140]:
total = 0
for i in list_:
    if i == 5:
        pass        
    total += i

In [141]:
total

21

In [142]:
total = 0
for i in list_:
    total += i

In [143]:
total

21

In [144]:
a = []
b = []
c = []
for i in list_:
    if i < 3:
        a.append(i)
    elif i > 2 and i < 5:
        b.append(i)
    else:
        c.append(i)

In [145]:
a

[2, 1]

In [146]:
b

[3, 4]

In [147]:
c

[5, 6]

## 2.while循环

In [148]:
n = 100
total = 0
i = 1
while i <= n:
    total = total + i
    i += 1

In [149]:
total

5050

In [150]:
n = 100
total = 0
i = 1
while i <= n:
    total = total + i
    i += 1
    if i == 50:
        break

In [151]:
total

1225

In [ ]:
total = 0
for i in list_:
    while i == 5:
        pass        
    total += i

## 小结：
一、单值——标量类型

1.标量类型：int/float/str/bool/None

2.标量之间的互相转换

3.标量的运算   

二、数据结构

1.常见数据结构：tuple/list/dict/set

2.数据结构之间的互相转换

三、列表

1.列表list的索引

2.列表list的运算

3.列表list的属性方法及常用函数

四、函数

1.内置函数:sorted, reversed, zip

2.自定义函数

3.lambda函数

五、控制流

1.for循环：if, elif, else 
        break, pass, continue
        
2.while循环

# 六、Python内置库

In [ ]:
import os
import sys
import re
import sqlite3
import tkinter

In [ ]:
os.listdir()

In [151]:
os.listdir('input')

['.ipynb_checkpoints',
 '476',
 '552',
 'breast-cancer-wisconsin.data',
 'breast-cancer-wisconsin.names',
 'breast-cancer.csv',
 'data_.xlsx',
 'R_LAO.jpg',
 'Syntax.xlsx']